<h1 align="center"> Predicting the Next Crypto Coin/Token Star Using Machine Learning </h1>

<h2 align="center"> Advanced Seminar Information Management </h2>

<h3 align="center"> Supervisor Prof. Dr. Schoder </h3>
  
<h4 align="center"> Pascal Grewe & Andrej Kotsovolos </h4>

<h1>1. Data Collection <h1>

In [1]:
# import free Python Coin Gecko API
from pycoingecko import CoinGeckoAPI
cg = CoinGeckoAPI()

import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [2]:
def add_date(year, month, day, coin):
    size = int(coin.size/4)
    date = datetime(year, month, day)
    
    for i in range(size):
        coin.iloc[i,3] = date 
        date = date + timedelta(1)

In [5]:
# get coin data for specific coin from 01-01-2018 00:00:00 to 26-04-2022 00:00:00
# timestamp has to be in UNIX format 
def get_coin_data(name, start_date, end_date):
    coin = cg.get_coin_market_chart_range_by_id(id = name, vs_currency='usd', from_timestamp = start_date, to_timestamp=end_date)
    coin = pd.DataFrame.from_dict(coin)
    
    # create new column for date
    coin['date'] = 1 
    # enter start date of data y,m,d
    add_date(2018, 1, 1, coin)
    # set date as index
    coin = coin.set_index(coin['date'])
    #drop date column
    coin = coin.drop('date', 1)
    
    return coin

In [8]:
ethereum = get_coin_data('ethereum', '1514761200', '1650924000')

/var/folders/_m/71fq0nk106s02qxvct5s2sv80000gn/T/ipykernel_12274/3673994451.py:14: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  coin = coin.drop('date', 1)

In [9]:
ethereum

,prices,market_caps,total_volumes
date,,,
2018-01-01,"[1514764800000, 776.080330355968]","[1514764800000, 75056629369.4547]","[1514764800000, 1101627635.65143]"
2018-01-02,"[1514851200000, 876.890258814416]","[1514851200000, 84822222588.5437]","[1514851200000, 2720973272.07018]"
2018-01-03,"[1514937600000, 963.0557506903511]","[1514937600000, 93178531120.43204]","[1514937600000, 2308657205.9772067]"
2018-01-04,"[1515024000000, 978.416104183522]","[1515024000000, 94681149308.52457]","[1515024000000, 2756635496.077742]"
2018-01-05,"[1515110400000, 1004.8949722625625]","[1515110400000, 97269228886.25314]","[1515110400000, 2894788528.9368753]"
...,...,...,...
2022-04-21,"[1650499200000, 3079.6764776018495]","[1650499200000, 370910549448.9755]","[1650499200000, 15155965878.384497]"
2022-04-22,"[1650585600000, 2987.4888760341605]","[1650585600000, 359917773311.257]","[1650585600000, 20529419340.296413]"
2022-04-23,"[1650672000000, 2967.085285238213]","[1650672000000, 357702343019.6129]","[1650672000000, 16155619718.968117]"
2022-04-24,"[1650758400000, 2940.6879777714407]","[1650758400000, 354358143094.8383]","[1650758400000, 8633203957.82989]"
2022-04-25,"[1650844800000, 2922.901865199808]","[1650844800000, 352895958715.2752]","[1650844800000, 9196851418.265764]"