<h1 align="center"> Predicting the Next Crypto Coin/Token Star Using Machine Learning </h1>

<h2 align="center"> Advanced Seminar Information Management </h2>

<h3 align="center"> Supervisor Prof. Dr. Schoder </h3>
  
<h4 align="center"> Pascal Grewe & Andrej Kotsovolos </h4>

# 2. Data Aggregation and Cleaning

In [2]:
from pycoingecko import CoinGeckoAPI
cg = CoinGeckoAPI()

import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import time
import san

## CoinGecko Data

In [3]:
coingecko_prices = pd.read_csv('data/coingecko/CoinGecko_prices.csv')

In [4]:
coingecko_prices.isnull().any()

date                  False
bitcoin_prices        False
ethereum_prices       False
tether_prices          True
ripple_prices         False
solana_prices          True
terra-luna_prices      True
cardano_prices        False
avalanche-2_prices     True
stellar_prices        False
monero_prices          True
dtype: bool

In [5]:
coingecko_prices.isna().any()

date                  False
bitcoin_prices        False
ethereum_prices       False
tether_prices          True
ripple_prices         False
solana_prices          True
terra-luna_prices      True
cardano_prices        False
avalanche-2_prices     True
stellar_prices        False
monero_prices          True
dtype: bool

In [6]:
coingecko_prices = coingecko_prices.dropna(axis=0, inplace=False)

In [7]:
coingecko_prices.isnull().any()

date                  False
bitcoin_prices        False
ethereum_prices       False
tether_prices         False
ripple_prices         False
solana_prices         False
terra-luna_prices     False
cardano_prices        False
avalanche-2_prices    False
stellar_prices        False
monero_prices         False
dtype: bool

In [8]:
coingecko_prices.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 673 entries, 0 to 672
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                673 non-null    object
 1   bitcoin_prices      673 non-null    float64
 2   ethereum_prices     673 non-null    float64
 3   tether_prices       673 non-null    float64
 4   ripple_prices       673 non-null    float64
 5   solana_prices       673 non-null    float64
 6   terra-luna_prices   673 non-null    float64
 7   cardano_prices      673 non-null    float64
 8   avalanche-2_prices  673 non-null    float64
 9   stellar_prices      673 non-null    float64
 10  monero_prices       673 non-null    float64
dtypes: float64(10), object(1)
memory usage: 63.1+ KB

In [9]:
coingecko_prices

,date,bitcoin_prices,ethereum_prices,tether_prices,ripple_prices,solana_prices,terra-luna_prices,cardano_prices,avalanche-2_prices,stellar_prices,monero_prices
0,2018-01-01,14093.606831,776.080330,1.008910,2.310120,0.957606,3.269977,0.747140,5.284244,0.496803,357.179638
1,2018-01-02,15321.932852,876.890259,1.003920,2.455290,0.784711,3.308075,0.807430,5.284244,0.553798,376.534960
2,2018-01-03,15583.885538,963.055751,1.015780,3.125710,0.875994,3.082165,1.075401,3.491229,0.875563,395.262774
3,2018-01-04,15976.365194,978.416104,1.002740,3.220050,0.786712,3.036930,1.179347,4.573891,0.755119,415.032997
4,2018-01-05,18336.922980,1004.894972,0.999695,2.931380,0.666673,2.775900,1.077821,4.702974,0.703217,402.510638
...,...,...,...,...,...,...,...,...,...,...,...
668,2019-10-31,9171.874474,183.133751,0.999806,0.295127,117.671873,8.513658,0.041747,25.059064,0.064612,59.012332
669,2019-11-01,9151.824594,182.755701,1.000922,0.294532,113.697455,8.279323,0.041361,23.699837,0.064723,60.714973
670,2019-11-02,9233.413802,183.064191,1.001949,0.291657,114.343587,8.266159,0.042177,23.711868,0.068328,62.209892
671,2019-11-03,9302.834618,183.215682,1.000567,0.295297,106.418103,9.615627,0.042457,23.973794,0.070839,63.170134
672,2019-11-04,9204.286350,181.824440,1.001498,0.290543,96.463244,11.740721,0.041769,21.071410,0.069041,63.019879

In [10]:
coingecko_prices = coingecko_prices.rename(columns={"datetime": "date"})

In [11]:
coingecko_prices

,date,bitcoin_prices,ethereum_prices,tether_prices,ripple_prices,solana_prices,terra-luna_prices,cardano_prices,avalanche-2_prices,stellar_prices,monero_prices
0,2018-01-01,14093.606831,776.080330,1.008910,2.310120,0.957606,3.269977,0.747140,5.284244,0.496803,357.179638
1,2018-01-02,15321.932852,876.890259,1.003920,2.455290,0.784711,3.308075,0.807430,5.284244,0.553798,376.534960
2,2018-01-03,15583.885538,963.055751,1.015780,3.125710,0.875994,3.082165,1.075401,3.491229,0.875563,395.262774
3,2018-01-04,15976.365194,978.416104,1.002740,3.220050,0.786712,3.036930,1.179347,4.573891,0.755119,415.032997
4,2018-01-05,18336.922980,1004.894972,0.999695,2.931380,0.666673,2.775900,1.077821,4.702974,0.703217,402.510638
...,...,...,...,...,...,...,...,...,...,...,...
668,2019-10-31,9171.874474,183.133751,0.999806,0.295127,117.671873,8.513658,0.041747,25.059064,0.064612,59.012332
669,2019-11-01,9151.824594,182.755701,1.000922,0.294532,113.697455,8.279323,0.041361,23.699837,0.064723,60.714973
670,2019-11-02,9233.413802,183.064191,1.001949,0.291657,114.343587,8.266159,0.042177,23.711868,0.068328,62.209892
671,2019-11-03,9302.834618,183.215682,1.000567,0.295297,106.418103,9.615627,0.042457,23.973794,0.070839,63.170134
672,2019-11-04,9204.286350,181.824440,1.001498,0.290543,96.463244,11.740721,0.041769,21.071410,0.069041,63.019879

In [12]:
#coingecko_prices.to_csv('./clean/coingecko/CoinGecko_'+ name + '.csv', index = True)

In [13]:
coingecko_market = pd.read_csv('data/coingecko/CoinGecko_market_caps.csv')

In [14]:
coingecko_market.isnull().any()

date                       False
bitcoin_market_caps        False
ethereum_market_caps       False
tether_market_caps          True
ripple_market_caps         False
solana_market_caps          True
terra-luna_market_caps      True
cardano_market_caps        False
avalanche-2_market_caps     True
stellar_market_caps        False
monero_market_caps          True
dtype: bool

In [15]:
coingecko_market = coingecko_market.dropna(axis=0, inplace=False)

In [16]:
coingecko_market

,date,bitcoin_market_caps,ethereum_market_caps,tether_market_caps,ripple_market_caps,solana_market_caps,terra-luna_market_caps,cardano_market_caps,avalanche-2_market_caps,stellar_market_caps,monero_market_caps
0,2018-01-01,2.364403e+11,7.505663e+10,1.380280e+09,8.949207e+10,7.827652e+06,0.000000e+00,1.937116e+10,1.243579e+08,8.872391e+09,5.552976e+09
1,2018-01-02,2.570796e+11,8.482222e+10,1.373453e+09,9.511583e+10,6.173608e+06,0.000000e+00,2.093430e+10,1.243579e+08,9.900319e+09,5.857333e+09
2,2018-01-03,2.615052e+11,9.317853e+10,1.389678e+09,1.210873e+11,7.269680e+06,0.000000e+00,2.788200e+10,8.633525e+07,1.565263e+10,6.150154e+09
3,2018-01-04,2.681247e+11,9.468115e+10,1.472112e+09,1.247420e+11,6.302364e+06,0.000000e+00,3.057701e+10,1.122094e+08,1.349944e+10,6.459403e+09
4,2018-01-05,3.077740e+11,9.726923e+10,1.467642e+09,1.135592e+11,5.306221e+06,0.000000e+00,2.794475e+10,1.154319e+08,1.257197e+10,6.266159e+09
...,...,...,...,...,...,...,...,...,...,...,...
668,2019-10-31,1.652894e+11,1.984455e+10,4.295520e+09,1.276366e+10,3.730511e+10,3.467138e+09,1.297264e+09,7.124088e+09,1.295400e+09,1.019739e+09
669,2019-11-01,1.651978e+11,1.980299e+10,4.292402e+09,1.274042e+10,3.612533e+10,3.350617e+09,1.287621e+09,6.709881e+09,1.298057e+09,1.049606e+09
670,2019-11-02,1.664289e+11,1.984184e+10,4.297274e+09,1.261309e+10,3.629406e+10,3.328028e+09,1.312294e+09,6.724784e+09,1.371468e+09,1.074869e+09
671,2019-11-03,1.677022e+11,1.985971e+10,4.291351e+09,1.276979e+10,3.382692e+10,3.851725e+09,1.321834e+09,6.816916e+09,1.420953e+09,1.094386e+09
672,2019-11-04,1.661183e+11,1.971679e+10,4.292441e+09,1.258068e+10,3.059707e+10,4.649352e+09,1.300808e+09,6.056209e+09,1.384275e+09,1.089769e+09

In [17]:
coingecko_total = pd.read_csv('data/coingecko/CoinGecko_total_volumes.csv')

In [18]:
coingecko_total.isnull().any()

date                         False
bitcoin_total_volumes        False
ethereum_total_volumes       False
tether_total_volumes          True
ripple_total_volumes         False
solana_total_volumes          True
terra-luna_total_volumes      True
cardano_total_volumes        False
avalanche-2_total_volumes     True
stellar_total_volumes        False
monero_total_volumes          True
dtype: bool

In [19]:
coingecko_total = coingecko_total.dropna(axis=0, inplace=False)

In [20]:
coingecko_total.isnull().any()

date                         False
bitcoin_total_volumes        False
ethereum_total_volumes       False
tether_total_volumes         False
ripple_total_volumes         False
solana_total_volumes         False
terra-luna_total_volumes     False
cardano_total_volumes        False
avalanche-2_total_volumes    False
stellar_total_volumes        False
monero_total_volumes         False
dtype: bool

In [21]:
coingecko_total.head()

,date,bitcoin_total_volumes,ethereum_total_volumes,tether_total_volumes,ripple_total_volumes,solana_total_volumes,terra-luna_total_volumes,cardano_total_volumes,avalanche-2_total_volumes,stellar_total_volumes,monero_total_volumes
0,2018-01-01,2.345479e+09,1.101628e+09,1.681610e+09,1.697900e+09,9.267267e+07,6.703686e+06,1.501034e+08,2.458573e+08,6.755370e+08,9.264893e+07
1,2018-01-02,4.130218e+09,2.720973e+09,2.632020e+09,3.206290e+09,4.945869e+07,1.060088e+07,2.901483e+08,2.458573e+08,6.743400e+08,1.877701e+08
2,2018-01-03,3.310356e+09,2.308657e+09,2.461680e+09,6.678660e+09,3.782101e+07,3.371012e+07,6.721725e+08,9.734243e+07,1.498850e+09,1.377800e+08
3,2018-01-04,4.217387e+09,2.756635e+09,3.203460e+09,8.104150e+09,1.957921e+07,8.852325e+05,5.878658e+08,6.966517e+07,8.084145e+08,1.667840e+08
4,2018-01-05,6.275688e+09,2.894789e+09,3.096040e+09,6.173580e+09,1.752353e+07,9.426329e+05,5.074352e+08,4.195075e+07,7.030865e+08,1.848580e+08

In [22]:
merge1 = pd.concat([coingecko_prices, coingecko_market], axis="columns")

In [23]:
merge2 = pd.concat([merge1, coingecko_total], axis="columns")

In [24]:
merge2 = merge2.dropna(axis=0, inplace=False)

In [25]:
merge2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 673 entries, 0 to 672
Data columns (total 33 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   date                       673 non-null    object
 1   bitcoin_prices             673 non-null    float64
 2   ethereum_prices            673 non-null    float64
 3   tether_prices              673 non-null    float64
 4   ripple_prices              673 non-null    float64
 5   solana_prices              673 non-null    float64
 6   terra-luna_prices          673 non-null    float64
 7   cardano_prices             673 non-null    float64
 8   avalanche-2_prices         673 non-null    float64
 9   stellar_prices             673 non-null    float64
 10  monero_prices              673 non-null    float64
 11  date                       673 non-null    object
 12  bitcoin_market_caps        673 non-null    float64
 13  ethereum_market_caps       673 non-null    float64
 14  tether_market_caps         673 non-null    float64
 15  ripple_market_caps         673 non-null    float64
 16  solana_market_caps         673 non-null    float64
 17  terra-luna_market_caps     673 non-null    float64
 18  cardano_market_caps        673 non-null    float64
 19  avalanche-2_market_caps    673 non-null    float64
 20  stellar_market_caps        673 non-null    float64
 21  monero_market_caps         673 non-null    float64
 22  date                       673 non-null    object
 23  bitcoin_total_volumes      673 non-null    float64
 24  ethereum_total_volumes     673 non-null    float64
 25  tether_total_volumes       673 non-null    float64
 26  ripple_total_volumes       673 non-null    float64
 27  solana_total_volumes       673 non-null    float64
 28  terra-luna_total_volumes   673 non-null    float64
 29  cardano_total_volumes      673 non-null    float64
 30  avalanche-2_total_volumes  673 non-null    float64
 31  stellar_total_volumes      673 non-null    float64
 32  monero_total_volumes       673 non-null    float64
dtypes: float64(30), object(3)
memory usage: 178.8+ KB

In [26]:
merge2.isnull().any()

date                         False
bitcoin_prices               False
ethereum_prices              False
tether_prices                False
ripple_prices                False
solana_prices                False
terra-luna_prices            False
cardano_prices               False
avalanche-2_prices           False
stellar_prices               False
monero_prices                False
date                         False
bitcoin_market_caps          False
ethereum_market_caps         False
tether_market_caps           False
ripple_market_caps           False
solana_market_caps           False
terra-luna_market_caps       False
cardano_market_caps          False
avalanche-2_market_caps      False
stellar_market_caps          False
monero_market_caps           False
date                         False
bitcoin_total_volumes        False
ethereum_total_volumes       False
tether_total_volumes         False
ripple_total_volumes         False
solana_total_volumes         False
terra-luna_total_volumes     False
cardano_total_volumes        False
avalanche-2_total_volumes    False
stellar_total_volumes        False
monero_total_volumes         False
dtype: bool

In [27]:
merge2.tail()

,date,bitcoin_prices,ethereum_prices,tether_prices,ripple_prices,solana_prices,terra-luna_prices,cardano_prices,avalanche-2_prices,stellar_prices,...,bitcoin_total_volumes,ethereum_total_volumes,tether_total_volumes,ripple_total_volumes,solana_total_volumes,terra-luna_total_volumes,cardano_total_volumes,avalanche-2_total_volumes,stellar_total_volumes,monero_total_volumes
668,2019-10-31,9171.874474,183.133751,0.999806,0.295127,117.671873,8.513658,0.041747,25.059064,0.064612,...,3.084691e+10,1.047556e+10,3.553258e+10,2.302768e+09,2.230153e+09,6.340603e+08,1.273539e+08,7.352322e+08,2.866208e+08,1.975745e+08
669,2019-11-01,9151.824594,182.755701,1.000922,0.294532,113.697455,8.279323,0.041361,23.699837,0.064723,...,3.045220e+10,1.067741e+10,3.214319e+10,2.082418e+09,2.354525e+09,4.159344e+08,1.012437e+08,5.842664e+08,2.900466e+08,2.042552e+08
670,2019-11-02,9233.413802,183.064191,1.001949,0.291657,114.343587,8.266159,0.042177,23.711868,0.068328,...,2.823918e+10,8.966994e+09,3.702099e+10,1.962882e+09,1.634212e+09,2.362237e+08,9.347640e+07,4.158927e+08,4.104518e+08,2.007497e+08
671,2019-11-03,9302.834618,183.215682,1.000567,0.295297,106.418103,9.615627,0.042457,23.973794,0.070839,...,2.472338e+10,1.755612e+10,3.560625e+10,1.866053e+09,1.963720e+09,4.939013e+08,7.431753e+07,4.039703e+08,3.012392e+08,2.495195e+08
672,2019-11-04,9204.286350,181.824440,1.001498,0.290543,96.463244,11.740721,0.041769,21.071410,0.069041,...,2.420414e+10,1.597866e+10,3.684609e+10,1.689929e+09,1.738209e+09,1.024046e+09,5.995105e+07,5.836308e+08,3.229605e+08,2.028107e+08

In [28]:
merge2.shape

(673, 33)

## Santiment Data

### Prices/Volume

In [29]:
santiment_prices = pd.read_csv('data/santiment/prices/santiment_prices.csv')

In [30]:
santiment_market = pd.read_csv('data/santiment/prices/santiment_marketcap.csv')

In [31]:
santiment_market

,datetime,bitcoin_marketcap,ethereum_marketcap,tether_marketcap,ripple_marketcap,solana_marketcap,terra-luna_marketcap,cardano_marketcap,avalanche_marketcap,stellar_marketcap,monero_marketcap
0,2018-01-01 00:00:00+00:00,2.291192e+11,7.472423e+10,1.378050e+09,9.262646e+10,NaN,NaN,1.889194e+10,NaN,8.572450e+09,5.581121e+09
1,2018-01-02 00:00:00+00:00,2.513779e+11,8.555298e+10,1.374793e+09,9.610794e+10,NaN,NaN,2.029019e+10,NaN,1.009640e+10,5.964400e+09
2,2018-01-03 00:00:00+00:00,2.550806e+11,9.314683e+10,1.386477e+09,1.202994e+11,NaN,NaN,2.799242e+10,NaN,1.602204e+10,6.411585e+09
3,2018-01-04 00:00:00+00:00,2.617953e+11,9.492431e+10,1.471804e+09,1.238347e+11,NaN,NaN,2.888587e+10,NaN,1.294401e+10,6.272889e+09
4,2018-01-05 00:00:00+00:00,2.925441e+11,9.657494e+10,1.466084e+09,1.181044e+11,NaN,NaN,2.591564e+10,NaN,1.184783e+10,5.992584e+09
...,...,...,...,...,...,...,...,...,...,...,...
1664,2022-07-23 00:00:00+00:00,4.291222e+11,1.885035e+11,6.584363e+10,1.738133e+10,1.384465e+10,NaN,1.746251e+10,6.713326e+09,2.804093e+09,2.657816e+09
1665,2022-07-24 00:00:00+00:00,4.318889e+11,1.946302e+11,6.584359e+10,1.736775e+10,1.418391e+10,NaN,1.733559e+10,6.775821e+09,2.849783e+09,2.749291e+09
1666,2022-07-25 00:00:00+00:00,4.080787e+11,1.758989e+11,6.585038e+10,1.630687e+10,1.269842e+10,NaN,1.606822e+10,5.955307e+09,2.668936e+09,2.613141e+09
1667,2022-07-26 00:00:00+00:00,4.057701e+11,1.754830e+11,6.584940e+10,1.633107e+10,1.251830e+10,NaN,1.586781e+10,5.869208e+09,2.650474e+09,2.741444e+09
1668,2022-07-27 00:00:00+00:00,4.333953e+11,1.957245e+11,6.586121e+10,1.714942e+10,1.366758e+10,NaN,1.703765e+10,6.539503e+09,2.770194e+09,2.920203e+09

In [32]:
santiment_volume = pd.read_csv('data/santiment/prices/santiment_volumes.csv')

In [33]:
merge = pd.merge(santiment_volume, santiment_prices, on='datetime')

In [34]:
merge

,datetime,bitcoin_volumes,ethereum_volumes,tether_volumes,ripple_volumes,solana_volumes,terra-luna_volumes,cardano_volumes,avalanche_volumes,stellar_volumes,...,bitcoin_prices,ethereum_prices,tether_prices,ripple_prices,solana_prices,terra-luna_prices,cardano_prices,avalanche_prices,stellar_prices,monero_prices
0,2018-01-01 00:00:00+00:00,1.029120e+10,2.595760e+09,1.685300e+09,1.894230e+09,NaN,NaN,1.501860e+08,NaN,6.693720e+08,...,13657.200000,772.641000,1.007280,2.391030,NaN,NaN,0.728657,NaN,0.480008,358.990000
1,2018-01-02 00:00:00+00:00,1.684660e+10,5.783350e+09,2.635860e+09,3.171010e+09,NaN,NaN,2.897120e+08,NaN,6.766670e+08,...,14982.100000,884.444000,1.004900,2.480900,NaN,NaN,0.782587,NaN,0.564766,383.417000
2,2018-01-03 00:00:00+00:00,1.687190e+10,5.093160e+09,2.471690e+09,6.635880e+09,NaN,NaN,6.573980e+08,NaN,1.513270e+09,...,15201.000000,962.720000,1.013440,3.105370,NaN,NaN,1.079660,NaN,0.896227,412.063000
3,2018-01-04 00:00:00+00:00,2.178320e+10,6.502860e+09,3.200130e+09,8.103660e+09,NaN,NaN,5.934300e+08,NaN,8.922680e+08,...,15599.200000,980.922000,1.002530,3.196630,NaN,NaN,1.114120,NaN,0.724050,403.048000
4,2018-01-05 00:00:00+00:00,2.384090e+10,6.683150e+09,3.096620e+09,6.288500e+09,NaN,NaN,5.081000e+08,NaN,7.274090e+08,...,17429.500000,997.720000,0.998634,3.048710,NaN,NaN,0.999559,NaN,0.662712,384.936000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1664,2022-07-23 00:00:00+00:00,2.402180e+10,1.499881e+10,4.301492e+10,8.638434e+08,1.151437e+09,NaN,8.371888e+08,467200887.0,1.529943e+08,...,22465.477627,1549.297530,1.000036,0.359541,40.040978,NaN,0.517368,23.646006,0.111609,146.423855
1665,2022-07-24 00:00:00+00:00,2.356550e+10,1.721785e+10,4.195528e+10,9.128948e+08,1.115261e+09,NaN,9.105961e+08,424883178.0,1.557150e+08,...,22609.164771,1599.476649,1.000035,0.359260,41.006586,NaN,0.513814,23.866124,0.113427,151.459728
1666,2022-07-25 00:00:00+00:00,3.557456e+10,2.058506e+10,5.630751e+10,1.207905e+09,1.465847e+09,NaN,7.471327e+08,586670563.0,1.925222e+08,...,21361.700522,1445.383422,1.000062,0.337315,36.711998,NaN,0.476250,20.975678,0.106195,143.955899
1667,2022-07-26 00:00:00+00:00,2.862467e+10,1.823856e+10,4.826672e+10,1.110468e+09,1.362323e+09,NaN,7.532662e+08,443604588.0,1.720298e+08,...,21239.754380,1441.806793,1.000047,0.337816,36.190852,NaN,0.467607,20.668285,0.105461,151.020496
1668,2022-07-27 00:00:00+00:00,3.154128e+10,2.274621e+10,5.899371e+10,1.275583e+09,1.729068e+09,NaN,1.078189e+09,715168972.0,1.838751e+08,...,22684.569478,1607.950601,1.000227,0.354744,39.513546,NaN,0.504983,23.028621,0.110176,160.864316

In [35]:
san_merge = pd.merge(merge, santiment_market, on='datetime')

In [36]:
san_merge

,datetime,bitcoin_volumes,ethereum_volumes,tether_volumes,ripple_volumes,solana_volumes,terra-luna_volumes,cardano_volumes,avalanche_volumes,stellar_volumes,...,bitcoin_marketcap,ethereum_marketcap,tether_marketcap,ripple_marketcap,solana_marketcap,terra-luna_marketcap,cardano_marketcap,avalanche_marketcap,stellar_marketcap,monero_marketcap
0,2018-01-01 00:00:00+00:00,1.029120e+10,2.595760e+09,1.685300e+09,1.894230e+09,NaN,NaN,1.501860e+08,NaN,6.693720e+08,...,2.291192e+11,7.472423e+10,1.378050e+09,9.262646e+10,NaN,NaN,1.889194e+10,NaN,8.572450e+09,5.581121e+09
1,2018-01-02 00:00:00+00:00,1.684660e+10,5.783350e+09,2.635860e+09,3.171010e+09,NaN,NaN,2.897120e+08,NaN,6.766670e+08,...,2.513779e+11,8.555298e+10,1.374793e+09,9.610794e+10,NaN,NaN,2.029019e+10,NaN,1.009640e+10,5.964400e+09
2,2018-01-03 00:00:00+00:00,1.687190e+10,5.093160e+09,2.471690e+09,6.635880e+09,NaN,NaN,6.573980e+08,NaN,1.513270e+09,...,2.550806e+11,9.314683e+10,1.386477e+09,1.202994e+11,NaN,NaN,2.799242e+10,NaN,1.602204e+10,6.411585e+09
3,2018-01-04 00:00:00+00:00,2.178320e+10,6.502860e+09,3.200130e+09,8.103660e+09,NaN,NaN,5.934300e+08,NaN,8.922680e+08,...,2.617953e+11,9.492431e+10,1.471804e+09,1.238347e+11,NaN,NaN,2.888587e+10,NaN,1.294401e+10,6.272889e+09
4,2018-01-05 00:00:00+00:00,2.384090e+10,6.683150e+09,3.096620e+09,6.288500e+09,NaN,NaN,5.081000e+08,NaN,7.274090e+08,...,2.925441e+11,9.657494e+10,1.466084e+09,1.181044e+11,NaN,NaN,2.591564e+10,NaN,1.184783e+10,5.992584e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1664,2022-07-23 00:00:00+00:00,2.402180e+10,1.499881e+10,4.301492e+10,8.638434e+08,1.151437e+09,NaN,8.371888e+08,467200887.0,1.529943e+08,...,4.291222e+11,1.885035e+11,6.584363e+10,1.738133e+10,1.384465e+10,NaN,1.746251e+10,6.713326e+09,2.804093e+09,2.657816e+09
1665,2022-07-24 00:00:00+00:00,2.356550e+10,1.721785e+10,4.195528e+10,9.128948e+08,1.115261e+09,NaN,9.105961e+08,424883178.0,1.557150e+08,...,4.318889e+11,1.946302e+11,6.584359e+10,1.736775e+10,1.418391e+10,NaN,1.733559e+10,6.775821e+09,2.849783e+09,2.749291e+09
1666,2022-07-25 00:00:00+00:00,3.557456e+10,2.058506e+10,5.630751e+10,1.207905e+09,1.465847e+09,NaN,7.471327e+08,586670563.0,1.925222e+08,...,4.080787e+11,1.758989e+11,6.585038e+10,1.630687e+10,1.269842e+10,NaN,1.606822e+10,5.955307e+09,2.668936e+09,2.613141e+09
1667,2022-07-26 00:00:00+00:00,2.862467e+10,1.823856e+10,4.826672e+10,1.110468e+09,1.362323e+09,NaN,7.532662e+08,443604588.0,1.720298e+08,...,4.057701e+11,1.754830e+11,6.584940e+10,1.633107e+10,1.251830e+10,NaN,1.586781e+10,5.869208e+09,2.650474e+09,2.741444e+09
1668,2022-07-27 00:00:00+00:00,3.154128e+10,2.274621e+10,5.899371e+10,1.275583e+09,1.729068e+09,NaN,1.078189e+09,715168972.0,1.838751e+08,...,4.333953e+11,1.957245e+11,6.586121e+10,1.714942e+10,1.366758e+10,NaN,1.703765e+10,6.539503e+09,2.770194e+09,2.920203e+09

In [37]:
san_merge.isnull().any()

datetime                False
bitcoin_volumes         False
ethereum_volumes        False
tether_volumes          False
ripple_volumes          False
solana_volumes           True
terra-luna_volumes       True
cardano_volumes         False
avalanche_volumes        True
stellar_volumes         False
monero_volumes          False
bitcoin_prices          False
ethereum_prices         False
tether_prices           False
ripple_prices           False
solana_prices            True
terra-luna_prices        True
cardano_prices          False
avalanche_prices         True
stellar_prices          False
monero_prices           False
bitcoin_marketcap       False
ethereum_marketcap      False
tether_marketcap        False
ripple_marketcap        False
solana_marketcap         True
terra-luna_marketcap     True
cardano_marketcap       False
avalanche_marketcap      True
stellar_marketcap       False
monero_marketcap        False
dtype: bool

In [39]:
# need to delete terra-lune due to NaN whole whole timeframe - data collection error
san = san_merge.drop(axis=1, columns={'terra-luna_volumes', 'terra-luna_marketcap', 'terra-luna_prices'})

In [157]:
san_monetary = san.dropna(axis=0, inplace=False)

##### Social Dominance

In [41]:
santiment_dom_reddit = pd.read_csv('data/santiment/social/santiment_social_dominance_reddit.csv')

In [42]:
santiment_dom_reddit = santiment_dom_reddit.rename(columns={"bitcoin": "social_dominance_reddit_bitcoin", "ethereum": "social_dominance_reddit_ethereum", "tether": "social_dominance_reddit_tether", "ripple": "social_dominance_reddit_ripple", "solana": "social_dominance_reddit_solana", "luna": "social_dominance_reddit_luna", "cardano": "social_dominance_reddit_cardano", "avalanche": "social_dominance_reddit_avalanche", "stellar": "social_dominance_reddit_stellar", "monero": "social_dominance_reddit_monero"})

In [43]:
santiment_dom_twitter = pd.read_csv('data/santiment/social/santiment_social_dominance_twitter.csv')

In [44]:
santiment_dom_twitter = santiment_dom_twitter.rename(columns={"bitcoin": "social_dominance_twitter_bitcoin", "ethereum": "social_dominance_twitter_ethereum", "tether": "social_dominance_twitter_tether", "ripple": "social_dominance_twitter_ripple", "solana": "social_dominance_twitter_solana", "luna": "social_dominance_twitter_luna", "cardano": "social_dominance_twitter_cardano", "avalanche": "social_dominance_twitter_avalanche", "stellar": "social_dominance_twitter_stellar", "monero": "social_dominance_twitter_monero"})

In [45]:
santiment_dom_youtube = pd.read_csv('data/santiment/social/santiment_social_dominance_youtube.csv')

In [46]:
santiment_dom_youtube = santiment_dom_youtube.rename(columns={"bitcoin": "social_dominance_youtube_bitcoin", "ethereum": "social_dominance_youtube_ethereum", "tether": "social_dominance_youtube_tether", "ripple": "social_dominance_youtube_ripple", "solana": "social_dominance_youtube_solana", "luna": "social_dominance_youtube_luna", "cardano": "social_dominance_youtube_cardano", "avalanche": "social_dominance_youtube_avalanche", "stellar": "social_dominance_youtube_stellar", "monero": "social_dominance_youtube_monero"})

In [47]:
santiment_dom_telegram = pd.read_csv('data/santiment/social/santiment_social_dominance_telegram.csv')

In [48]:
santiment_dom_telegram = santiment_dom_telegram.rename(columns={"bitcoin": "social_dominance_telegram_bitcoin", "ethereum": "social_dominance_telegram_ethereum", "tether": "social_dominance_telegram_tether", "ripple": "social_dominance_telegram_ripple", "solana": "social_dominance_telegram_solana", "luna": "social_dominance_telergam_luna", "cardano": "social_dominance_telegram_cardano", "avalanche": "social_dominance_telegram_avalanche", "stellar": "social_dominance_telegram_stellar", "monero": "social_dominance_telegram_monero"})

In [49]:
santiment_dom_total = pd.read_csv('data/santiment/social/santiment_social_dominance_total.csv')

In [50]:
santiment_dom_total = santiment_dom_total.rename(columns={"bitcoin": "social_dominance_total_bitcoin", "ethereum": "social_dominance_total_ethereum", "tether": "social_dominance_total_tether", "ripple": "social_dominance_total_ripple", "solana": "social_dominance_total_solana", "luna": "social_dominance_total_luna", "cardano": "social_dominance_total_cardano", "avalanche": "social_dominance_total_avalanche", "stellar": "social_dominance_total_stellar", "monero": "social_dominance_total_monero"})

In [51]:
santiment_dom1 = pd.merge(santiment_dom_reddit, santiment_dom_twitter, on='datetime')

In [52]:
santiment_dom2 = pd.merge(santiment_dom1, santiment_dom_youtube, on='datetime')

In [53]:
santiment_dom3 = pd.merge(santiment_dom2, santiment_dom_telegram, on='datetime')

In [54]:
santiment_dom4 = pd.merge(santiment_dom3, santiment_dom_total, on='datetime')

In [158]:
santiment_dom4.isnull().any()

datetime                               False
social_dominance_reddit_bitcoin        False
social_dominance_reddit_ethereum       False
social_dominance_reddit_tether         False
social_dominance_reddit_ripple         False
social_dominance_reddit_solana         False
social_dominance_reddit_luna           False
social_dominance_reddit_cardano        False
social_dominance_reddit_avalanche      False
social_dominance_reddit_stellar        False
social_dominance_reddit_monero         False
social_dominance_twitter_bitcoin       False
social_dominance_twitter_ethereum      False
social_dominance_twitter_tether        False
social_dominance_twitter_ripple        False
social_dominance_twitter_solana        False
social_dominance_twitter_luna          False
social_dominance_twitter_cardano       False
social_dominance_twitter_avalanche     False
social_dominance_twitter_stellar       False
social_dominance_twitter_monero        False
social_dominance_youtube_bitcoin       False
social_dominance_youtube_ethereum      False
social_dominance_youtube_tether        False
social_dominance_youtube_ripple        False
social_dominance_youtube_solana        False
social_dominance_youtube_luna          False
social_dominance_youtube_cardano       False
social_dominance_youtube_avalanche     False
social_dominance_youtube_stellar       False
social_dominance_youtube_monero        False
social_dominance_telegram_bitcoin      False
social_dominance_telegram_ethereum     False
social_dominance_telegram_tether       False
social_dominance_telegram_ripple       False
social_dominance_telegram_solana       False
social_dominance_telergam_luna         False
social_dominance_telegram_cardano      False
social_dominance_telegram_avalanche    False
social_dominance_telegram_stellar      False
social_dominance_telegram_monero       False
social_dominance_total_bitcoin         False
social_dominance_total_ethereum        False
social_dominance_total_tether          False
social_dominance_total_ripple          False
social_dominance_total_solana          False
social_dominance_total_luna            False
social_dominance_total_cardano         False
social_dominance_total_avalanche       False
social_dominance_total_stellar         False
social_dominance_total_monero          False
dtype: bool

In [174]:
san_merge_1 = pd.merge(san_monetary, santiment_dom4, on='datetime')

##### Social Volume

In [55]:
santiment_svol_reddit = pd.read_csv('data/santiment/social/santiment_social_volume_reddit.csv')

In [56]:
santiment_svol_reddit  = santiment_svol_reddit.rename(columns={"bitcoin": "social_volume_reddit_bitcoin", "ethereum": "social_volume_reddit_ethereum", "tether": "social_volume_reddit_tether", "ripple": "social_volume_reddit_ripple", "solana": "social_volume_reddit_solana", "luna": "social_volume_reddit_luna", "cardano": "social_volume_reddit_cardano", "avalanche": "social_volume_reddit_avalanche", "stellar": "social_volume_reddit_stellar", "monero": "social_volume_reddit_monero"})

In [57]:
santiment_svol_twitter = pd.read_csv('data/santiment/social/santiment_social_volume_twitter.csv')

In [58]:
santiment_svol_twitter  = santiment_svol_twitter.rename(columns={"bitcoin": "social_volume_twitter_bitcoin", "ethereum": "social_volume_twitter_ethereum", "tether": "social_volume_twitter_tether", "ripple": "social_volume_twitter_ripple", "solana": "social_volume_twitter_solana", "luna": "social_volume_twitter_luna", "cardano": "social_volume_twitter_cardano", "avalanche": "social_volume_twitter_avalanche", "stellar": "social_volume_twitter_stellar", "monero": "social_volume_twitter_monero"})

In [59]:
santiment_svol_telegram = pd.read_csv('data/santiment/social/santiment_social_volume_telegram.csv')

In [60]:
santiment_svol_telegram  = santiment_svol_telegram.rename(columns={"bitcoin": "social_volume_telegram_bitcoin", "ethereum": "social_volume_telegram_ethereum", "tether": "social_volume_telegram_tether", "ripple": "social_volume_telegram_ripple", "solana": "social_volume_telegram_solana", "luna": "social_volume_telegram_luna", "cardano": "social_volume_telegram_cardano", "avalanche": "social_volume_telegram_avalanche", "stellar": "social_volume_telegram_stellar", "monero": "social_volume_telegram_monero"})

In [61]:
santiment_svol_bitcointalk = pd.read_csv('data/santiment/social/santiment_social_volume_bitcointalk.csv')

In [62]:
santiment_svol_bitcointalk = santiment_svol_bitcointalk.rename(columns={"bitcoin": "social_volume_bitcointalk_bitcoin", "ethereum": "social_volume_bitcointalk_ethereum", "tether": "social_volume_bitcointalk_tether", "ripple": "social_volume_bitcointalk_ripple", "solana": "social_volume_bitcointalk_solana", "luna": "social_volume_bitcointalk_luna", "cardano": "social_volume_bitcointalk_cardano", "avalanche": "social_volume_bitcointalk_avalanche", "stellar": "social_volume_bitcointalk_stellar", "monero": "social_volume_bitcointalk_monero"})

In [63]:
santiment_svol_total = pd.read_csv('data/santiment/social/santiment_social_volume_total.csv')

In [64]:
santiment_svol_total = santiment_svol_total.rename(columns={"bitcoin": "social_volume_total_bitcoin", "ethereum": "social_volume_total_ethereum", "tether": "social_volume_total_tether", "ripple": "social_volume_total_ripple", "solana": "social_volume_total_solana", "luna": "social_volume_total_luna", "cardano": "social_volume_total_cardano", "avalanche": "social_volume_total_avalanche", "stellar": "social_volume_total_stellar", "monero": "social_volume_total_monero"})

In [65]:
santiment_svol_youtube = pd.read_csv('data/santiment/social/santiment_social_volume_youtube.csv')

In [66]:
santiment_svol_youtube = santiment_svol_youtube.rename(columns={"bitcoin": "social_volume_youtube_bitcoin", "ethereum": "social_volume_youtube_ethereum", "tether": "social_volume_youtube_tether", "ripple": "social_volume_youtube_ripple", "solana": "social_volume_youtube_solana", "luna": "social_volume_youtube_luna", "cardano": "social_volume_youtube_cardano", "avalanche": "social_volume_youtube_avalanche", "stellar": "social_volume_youtube_stellar", "monero": "social_volume_youtube_monero"})

In [67]:
santiment_svol1 = pd.merge(santiment_svol_reddit, santiment_svol_twitter, on='datetime')

In [68]:
santiment_svol2 = pd.merge(santiment_svol1, santiment_svol_telegram, on='datetime')

In [69]:
santiment_svol3 = pd.merge(santiment_svol2, santiment_svol_bitcointalk, on='datetime')

In [70]:
santiment_svol4 = pd.merge(santiment_svol3, santiment_svol_youtube, on='datetime')

In [71]:
santiment_svol5 = pd.merge(santiment_svol4, santiment_svol_total, on='datetime')

In [159]:
santiment_svol5.isnull().any()

datetime                         False
social_volume_reddit_bitcoin     False
social_volume_reddit_ethereum    False
social_volume_reddit_tether      False
social_volume_reddit_ripple      False
                                 ...
social_volume_total_luna         False
social_volume_total_cardano      False
social_volume_total_avalanche    False
social_volume_total_stellar      False
social_volume_total_monero       False
Length: 61, dtype: bool

In [176]:
san_merge_2 = pd.merge(san_merge_1, santiment_svol5, on='datetime')

#### Sentiment Positive

In [72]:
senpos_reddit = pd.read_csv('data/santiment/social/sentiment_positive_reddit.csv')

In [73]:
senpos_reddit = senpos_reddit.rename(columns={"bitcoin": "sentiment_positive_reddit_bitcoin", "ethereum": "sentiment_positive_reddit_ethereum", "tether": "sentiment_positive_reddit_tether", "ripple": "sentiment_positive_reddit_ripple", "solana": "sentiment_positive_reddit_solana", "luna": "sentiment_positive_reddit_luna", "cardano": "sentiment_positive_reddit_cardano", "avalanche": "sentiment_positive_reddit_avalanche", "stellar": "sentiment_positive_reddit_stellar", "monero": "sentiment_positive_reddit_monero"})

In [74]:
senpos_twitter = pd.read_csv('data/santiment/social/sentiment_positive_twitter.csv')

In [75]:
senpos_twitter = senpos_twitter.rename(columns={"bitcoin": "sentiment_positive_twitter_bitcoin", "ethereum": "sentiment_positive_twitter_ethereum", "tether": "sentiment_positive_twitter_tether", "ripple": "sentiment_positive_twitter_ripple", "solana": "sentiment_positive_twitter_solana", "luna": "sentiment_positive_twitter_luna", "cardano": "sentiment_positive_reddit_twitter_cardano", "avalanche": "sentiment_positive_twitter_avalanche", "stellar": "sentiment_positive_twitter_stellar", "monero": "sentiment_positive_twitter_monero"})

In [76]:
senpos_telegram = pd.read_csv('data/santiment/social/sentiment_positive_telegram.csv')

In [77]:
senpos_telegram = senpos_telegram.rename(columns={"bitcoin": "sentiment_positive_telegram_bitcoin", "ethereum": "sentiment_positive_telegram_ethereum", "tether": "sentiment_positive_telegram_tether", "ripple": "sentiment_positive_telegram_ripple", "solana": "sentiment_positive_telegram_solana", "luna": "sentiment_positive_telegram_luna", "cardano": "sentiment_positive_telegram_cardano", "avalanche": "sentiment_positive_telegram_avalanche", "stellar": "sentiment_positive_telegram_stellar", "monero": "sentiment_positive_telegram_monero"})

In [78]:
senpos_bitcointalk = pd.read_csv('data/santiment/social/sentiment_positive_bitcointalk.csv')

In [79]:
senpos_bitcointalk = senpos_bitcointalk.rename(columns={"bitcoin": "sentiment_positive_bitcointalk_bitcoin", "ethereum": "sentiment_positive_bitcointalk_ethereum", "tether": "sentiment_positive_bitcointalk_tether", "ripple": "sentiment_positive_bitcointalk_ripple", "solana": "sentiment_positive_bitcointalk_solana", "luna": "sentiment_positive_bitcointalk_luna", "cardano": "sentiment_positive_bitcointalk_cardano", "avalanche": "sentiment_positive_bitcointalk_avalanche", "stellar": "sentiment_positive_bitcointalk_stellar", "monero": "sentiment_positive_bitcointalk_monero"})

In [80]:
senpos_youtube = pd.read_csv('data/santiment/social/sentiment_positive_youtube.csv')

In [81]:
senpos_youtube = senpos_youtube.rename(columns={"bitcoin": "sentiment_positive_youtube_bitcoin", "ethereum": "sentiment_positive_youtube_ethereum", "tether": "sentiment_positive_youtube_tether", "ripple": "sentiment_positive_youtube_ripple", "solana": "sentiment_positive_youtube_solana", "luna": "sentiment_positive_youtube_luna", "cardano": "sentiment_positive_youtube_cardano", "avalanche": "sentiment_positive_youtube_avalanche", "stellar": "sentiment_positive_youtube_stellar", "monero": "sentiment_positive_youtube_monero"})

In [82]:
senpos_total = pd.read_csv('data/santiment/social/sentiment_positive_total.csv')

In [83]:
senpos_total = senpos_total.rename(columns={"bitcoin": "sentiment_positive_total_bitcoin", "ethereum": "sentiment_positive_total_ethereum", "tether": "sentiment_positive_total_tether", "ripple": "sentiment_positive_total_ripple", "solana": "sentiment_positive_total_solana", "luna": "sentiment_positive_total_luna", "cardano": "sentiment_positive_total_cardano", "avalanche": "sentiment_positive_total_avalanche", "stellar": "sentiment_positive_total_stellar", "monero": "sentiment_positive_total_monero"})

In [84]:
santiment_senpos1 = pd.merge(senpos_reddit, senpos_twitter, on='datetime')

In [85]:
santiment_senpos2 = pd.merge(santiment_senpos1, senpos_telegram, on='datetime')

In [86]:
santiment_senpos3 = pd.merge(santiment_senpos2, senpos_bitcointalk, on='datetime')

In [87]:
santiment_senpos4 = pd.merge(santiment_senpos3, senpos_youtube, on='datetime')

In [88]:
santiment_senpos5 = pd.merge(santiment_senpos4, senpos_total, on='datetime')

In [160]:
santiment_senpos5.isnull().any()

datetime                              False
sentiment_positive_reddit_bitcoin     False
sentiment_positive_reddit_ethereum    False
sentiment_positive_reddit_tether      False
sentiment_positive_reddit_ripple      False
                                      ...
sentiment_positive_total_luna         False
sentiment_positive_total_cardano      False
sentiment_positive_total_avalanche    False
sentiment_positive_total_stellar      False
sentiment_positive_total_monero       False
Length: 61, dtype: bool

In [177]:
san_merge_3 = pd.merge(san_merge_2, santiment_senpos5, on='datetime')

##### Sentiment Negative

In [89]:
senneg_reddit = pd.read_csv('data/santiment/social/sentiment_negative_reddit.csv')

In [90]:
senneg_reddit = senneg_reddit.rename(columns={"bitcoin": "sentiment_negative_reddit_bitcoin", "ethereum": "sentiment_negative_reddit_ethereum", "tether": "sentiment_negative_reddit_tether", "ripple": "sentiment_negative_reddit_ripple", "solana": "sentiment_negative_reddit_solana", "luna": "sentiment_negative_reddit_luna", "cardano": "sentiment_negative_reddit_cardano", "avalanche": "sentiment_negative_reddit_avalanche", "stellar": "sentiment_negative_reddit_stellar", "monero": "sentiment_negative_reddit_monero"})

In [91]:
senneg_twitter = pd.read_csv('data/santiment/social/sentiment_negative_twitter.csv')

In [92]:
senneg_twitter = senneg_twitter.rename(columns={"bitcoin": "sentiment_negative_twitter_bitcoin", "ethereum": "sentiment_negative_twitter_ethereum", "tether": "sentiment_negative_twitter_tether", "ripple": "sentiment_negative_twitter_ripple", "solana": "sentiment_negative_twitter_solana", "luna": "sentiment_negative_twitter_luna", "cardano": "sentiment_negative_twitter_cardano", "avalanche": "sentiment_negative_twitter_avalanche", "stellar": "sentiment_negative_twitter_stellar", "monero": "sentiment_negative_twitter_monero"})

In [93]:
senneg_telegram = pd.read_csv('data/santiment/social/sentiment_negative_telegram.csv')

In [94]:
senneg_telegram = senneg_telegram.rename(columns={"bitcoin": "sentiment_negative_telegram_bitcoin", "ethereum": "sentiment_negative_telegram_ethereum", "tether": "sentiment_negative_telegram_tether", "ripple": "sentiment_negative_telegram_ripple", "solana": "sentiment_negative_telegram_solana", "luna": "sentiment_negative_telegram_luna", "cardano": "sentiment_negative_telegram_cardano", "avalanche": "sentiment_negative_telegram_avalanche", "stellar": "sentiment_negative_telegram_stellar", "monero": "sentiment_negative_telegram_monero"})

In [95]:
senneg_bitcointalk = pd.read_csv('data/santiment/social/sentiment_negative_bitcointalk.csv')

In [96]:
senneg_bitcointalk = senneg_bitcointalk.rename(columns={"bitcoin": "sentiment_negative_bitcointalk_bitcoin", "ethereum": "sentiment_negative_bitcointalk_ethereum", "tether": "sentiment_negative_bitcointalk_tether", "ripple": "sentiment_negative_bitcointalk_ripple", "solana": "sentiment_negative_bitcointalk_solana", "luna": "sentiment_negative_bitcointalk_luna", "cardano": "sentiment_negative_bitcointalk_cardano", "avalanche": "sentiment_negative_bitcointalk_avalanche", "stellar": "sentiment_negative_bitcointalk_stellar", "monero": "sentiment_negative_bitcointalk_monero"})

In [97]:
senneg_youtube = pd.read_csv('data/santiment/social/sentiment_negative_youtube.csv')

In [98]:
senneg_youtube = senneg_youtube.rename(columns={"bitcoin": "sentiment_negative_youtube_bitcoin", "ethereum": "sentiment_negative_youtube_ethereum", "tether": "sentiment_negative_youtube_tether", "ripple": "sentiment_negative_youtube_ripple", "solana": "sentiment_negative_youtube_solana", "luna": "sentiment_negative_youtube_luna", "cardano": "sentiment_negative_youtube_cardano", "avalanche": "sentiment_negative_youtube_avalanche", "stellar": "sentiment_negative_youtube_stellar", "monero": "sentiment_negative_youtube_monero"})

In [99]:
senneg_total = pd.read_csv('data/santiment/social/sentiment_negative_total.csv')

In [100]:
senneg_total = senneg_total.rename(columns={"bitcoin": "sentiment_negative_total_bitcoin", "ethereum": "sentiment_negative_total_ethereum", "tether": "sentiment_negative_total_tether", "ripple": "sentiment_negative_total_ripple", "solana": "sentiment_negative_total_solana", "luna": "sentiment_negative_total_luna", "cardano": "sentiment_negative_total_cardano", "avalanche": "sentiment_negative_total_avalanche", "stellar": "sentiment_negative_total_stellar", "monero": "sentiment_negative_total_monero"})

In [101]:
santiment_senneg1 = pd.merge(senneg_reddit, senneg_twitter, on='datetime')

In [102]:
santiment_senneg2 = pd.merge(santiment_senneg1 , senneg_telegram, on='datetime')

In [103]:
santiment_senneg3 = pd.merge(santiment_senneg2 , senneg_bitcointalk, on='datetime')

In [104]:
santiment_senneg4 = pd.merge(santiment_senneg3 , senneg_youtube, on='datetime')

In [105]:
santiment_senneg5 = pd.merge(santiment_senneg4 , senneg_total, on='datetime')

In [162]:
santiment_senneg5.isnull().any()

datetime                              False
sentiment_negative_reddit_bitcoin     False
sentiment_negative_reddit_ethereum    False
sentiment_negative_reddit_tether      False
sentiment_negative_reddit_ripple      False
                                      ...
sentiment_negative_total_luna         False
sentiment_negative_total_cardano      False
sentiment_negative_total_avalanche    False
sentiment_negative_total_stellar      False
sentiment_negative_total_monero       False
Length: 61, dtype: bool

In [178]:
san_merge_4 = pd.merge(san_merge_3, santiment_senneg5, on='datetime')

##### Sentiment Balanced

In [106]:
senbal_reddit = pd.read_csv('data/santiment/social/sentiment_balance_reddit.csv')

In [107]:
senbal_reddit = senbal_reddit.rename(columns={"bitcoin": "sentiment_balance_reddit_bitcoin", "ethereum": "sentiment_balance_reddit_ethereum", "tether": "sentiment_balance_reddit_tether", "ripple": "sentiment_balance_reddit_ripple", "solana": "sentiment_balance_reddit_solana", "luna": "sentiment_balance_reddit_luna", "cardano": "sentiment_balance_reddit_cardano", "avalanche": "sentiment_balance_reddit_avalanche", "stellar": "sentiment_balance_reddit_stellar", "monero": "sentiment_balance_reddit_monero"})

In [108]:
senbal_twitter = pd.read_csv('data/santiment/social/sentiment_balance_twitter.csv')

In [109]:
senbal_twitter = senbal_twitter.rename(columns={"bitcoin": "sentiment_balance_twitter_bitcoin", "ethereum": "sentiment_balance_twitter_ethereum", "tether": "sentiment_balance_twitter_tether", "ripple": "sentiment_balance_twitter_ripple", "solana": "sentiment_balance_twitter_solana", "luna": "sentiment_balance_twitter_luna", "cardano": "sentiment_balance_twitter_cardano", "avalanche": "sentiment_balance_twitter_avalanche", "stellar": "sentiment_balance_twitter_stellar", "monero": "sentiment_balance_twitter_monero"})

In [110]:
senbal_bitcointalk = pd.read_csv('data/santiment/social/sentiment_balance_bitcointalk.csv')

In [111]:
senbal_bitcointalk = senbal_bitcointalk.rename(columns={"bitcoin": "sentiment_balance_bitcointalk_bitcoin", "ethereum": "sentiment_balance_bitcointalk_ethereum", "tether": "sentiment_balance_bitcointalk_tether", "ripple": "sentiment_balance_bitcointalk_ripple", "solana": "sentiment_balance_bitcointalk_solana", "luna": "sentiment_balance_bitcointalk_luna", "cardano": "sentiment_balance_bitcointalk_cardano", "avalanche": "sentiment_balance_bitcointalk_avalanche", "stellar": "sentiment_balance_bitcointalk_stellar", "monero": "sentiment_balance_bitcointalk_monero"})

In [112]:
senbal_telegram = pd.read_csv('data/santiment/social/sentiment_balance_telegram.csv')

In [113]:
senbal_telegram = senbal_telegram.rename(columns={"bitcoin": "sentiment_balance_telegram_bitcoin", "ethereum": "sentiment_balance_telegram_ethereum", "tether": "sentiment_balance_telegram_tether", "ripple": "sentiment_balance_telegram_ripple", "solana": "sentiment_balance_telegram_solana", "luna": "sentiment_balance_telegram_luna", "cardano": "sentiment_balance_telegram_cardano", "avalanche": "sentiment_balance_telegram_avalanche", "stellar": "sentiment_balance_telegram_stellar", "monero": "sentiment_balance_telegram_monero"})

In [114]:
senbal_youtube = pd.read_csv('data/santiment/social/sentiment_balance_youtube.csv')

In [115]:
senbal_youtube = senbal_youtube.rename(columns={"bitcoin": "sentiment_balance_youtube_bitcoin", "ethereum": "sentiment_balance_youtube_ethereum", "tether": "sentiment_balance_youtube_tether", "ripple": "sentiment_balance_youtube_ripple", "solana": "sentiment_balance_youtube_solana", "luna": "sentiment_balance_youtube_luna", "cardano": "sentiment_balance_youtube_cardano", "avalanche": "sentiment_balance_youtube_avalanche", "stellar": "sentiment_balance_youtube_stellar", "monero": "sentiment_balance_youtube_monero"})

In [116]:
senbal_total = pd.read_csv('data/santiment/social/sentiment_balance_total.csv')

In [117]:
senbal_total = senbal_total.rename(columns={"bitcoin": "sentiment_balance_total_bitcoin", "ethereum": "sentiment_balance_total_ethereum", "tether": "sentiment_balance_total_tether", "ripple": "sentiment_balance_total_ripple", "solana": "sentiment_balance_total_solana", "luna": "sentiment_balance_total_luna", "cardano": "sentiment_balance_total_cardano", "avalanche": "sentiment_balance_total_avalanche", "stellar": "sentiment_balance_total_stellar", "monero": "sentiment_balance_total_monero"})

In [118]:
santiment_senbal1 = pd.merge(senbal_reddit, senbal_twitter, on='datetime')

In [119]:
santiment_senbal2 = pd.merge(santiment_senbal1, senbal_telegram, on='datetime')

In [120]:
santiment_senbal3 = pd.merge(santiment_senbal2, senbal_bitcointalk, on='datetime')

In [121]:
santiment_senbal4 = pd.merge(santiment_senbal3, senbal_youtube, on='datetime')

In [122]:
santiment_senbal5 = pd.merge(santiment_senbal4, senbal_total, on='datetime')

In [163]:
santiment_senbal5.isnull().any()

datetime                             False
sentiment_balance_reddit_bitcoin     False
sentiment_balance_reddit_ethereum    False
sentiment_balance_reddit_tether      False
sentiment_balance_reddit_ripple      False
                                     ...
sentiment_balance_total_luna         False
sentiment_balance_total_cardano      False
sentiment_balance_total_avalanche    False
sentiment_balance_total_stellar      False
sentiment_balance_total_monero       False
Length: 61, dtype: bool

In [179]:
san_merge_5 = pd.merge(san_merge_4, santiment_senbal5, on='datetime')

##### Volume Consumed

In [123]:
volcon_reddit = pd.read_csv('data/santiment/social/sentiment_volume_consumed_reddit.csv')

In [124]:
volcon_reddit = volcon_reddit.rename(columns={"bitcoin": "sentiment_volume_consumed_reddit_bitcoin", "ethereum": "sentiment_volume_consumed_reddit_ethereum", "tether": "sentiment_volume_consumed_reddit_tether", "ripple": "sentiment_volume_consumed_reddit_ripple", "solana": "sentiment_volume_consumed_reddit_solana", "luna": "sentiment_volume_consumed_reddit_luna", "cardano": "sentiment_volume_consumed_reddit_cardano", "avalanche": "sentiment_volume_consumed_reddit_avalanche", "stellar": "sentiment_volume_consumed_reddit_stellar", "tether": "sentiment_volume_consumed_reddit_tether", "ripple": "sentiment_volume_consumed_reddit_ripple", "solana": "sentiment_volume_consumed_reddit_solana", "luna": "sentiment_volume_consumed_reddit_luna", "cardano": "sentiment_volume_consumed_reddit_cardano", "avalanche": "sentiment_volume_consumed_reddit_avalanche", "stellar": "sentiment_volume_consumed_reddit_stellar", "monero": "sentiment_volume_consumed_reddit_monero"})

In [125]:
volcon_twitter = pd.read_csv('data/santiment/social/sentiment_volume_consumed_twitter.csv')

In [126]:
volcon_twitter = volcon_twitter.rename(columns={"bitcoin": "sentiment_volume_consumed_twitter_bitcoin", "ethereum": "sentiment_volume_consumed_twitter_ethereum", "tether": "sentiment_volume_consumed_twitter_tether", "ripple": "sentiment_volume_consumed_twitter_ripple", "solana": "sentiment_volume_consumed_twitter_solana", "luna": "sentiment_volume_consumed_twitter_luna", "cardano": "sentiment_volume_consumed_twitter_cardano", "avalanche": "sentiment_volume_consumed_twitter_avalanche", "stellar": "sentiment_volume_consumed_twitter_stellar", "tether": "sentiment_volume_consumed_twitter_tether", "ripple": "sentiment_volume_consumed_twitter_ripple", "solana": "sentiment_volume_consumed_twitter_solana", "luna": "sentiment_volume_consumed_twitter_luna", "cardano": "sentiment_volume_consumed_twitter_cardano", "avalanche": "sentiment_volume_consumed_twitter_avalanche", "stellar": "sentiment_volume_consumed_twitter_stellar", "monero": "sentiment_volume_consumed_twitter_monero"})

In [127]:
volcon_telegram = pd.read_csv('data/santiment/social/sentiment_volume_consumed_telegram.csv')

In [128]:
volcon_telegram = volcon_telegram.rename(columns={"bitcoin": "sentiment_volume_consumed_telegram_bitcoin", "ethereum": "sentiment_volume_consumed_telegram_ethereum", "tether": "sentiment_volume_consumed_telegram_tether", "ripple": "sentiment_volume_consumed_telegram_ripple", "solana": "sentiment_volume_consumed_telegram_solana", "luna": "sentiment_volume_consumed_telegram_luna", "cardano": "sentiment_volume_consumed_telegram_cardano", "avalanche": "sentiment_volume_consumed_telegram_avalanche", "stellar": "sentiment_volume_consumed_telegram_stellar", "monero": "sentiment_volume_consumed_telegram_monero"})

In [129]:
volcon_bitcointalk = pd.read_csv('data/santiment/social/sentiment_volume_consumed_bitcointalk.csv')

In [130]:
volcon_bitcointalk = volcon_bitcointalk.rename(columns={"bitcoin": "sentiment_volume_consumed_bitcointalk_bitcoin", "ethereum": "sentiment_volume_consumed_bitcointalk_ethereum", "tether": "sentiment_volume_consumed_bitcointalk_tether", "ripple": "sentiment_volume_consumed_bitcointalk_ripple", "solana": "sentiment_volume_consumed_bitcointalk_solana", "luna": "sentiment_volume_consumed_bitcointalk_luna", "cardano": "sentiment_volume_consumed_bitcointalk_cardano", "avalanche": "sentiment_volume_consumed_bitcointalk_avalanche", "stellar": "sentiment_volume_consumed_bitcointalk_stellar", "monero": "sentiment_volume_consumed_bitcointalk_monero"})

In [131]:
volcon_youtube = pd.read_csv('data/santiment/social/sentiment_volume_consumed_youtube.csv')

In [132]:
volcon_youtube = volcon_youtube.rename(columns={"bitcoin": "sentiment_volume_consumed_youtube_bitcoin", "ethereum": "sentiment_volume_consumed_youtube_ethereum", "tether": "sentiment_volume_consumed_youtube_tether", "ripple": "sentiment_volume_consumed_youtube_ripple", "solana": "sentiment_volume_consumed_youtube_solana", "luna": "sentiment_volume_consumed_youtube_luna", "cardano": "sentiment_volume_consumed_youtube_cardano", "avalanche": "sentiment_volume_consumed_youtube_avalanche", "stellar": "sentiment_volume_consumed_youtube_stellar", "monero": "sentiment_volume_consumed_youtube_monero"})

In [133]:
volcon_total = pd.read_csv('data/santiment/social/sentiment_volume_consumed_total.csv')

In [134]:
volcon_total = volcon_total.rename(columns={"bitcoin": "sentiment_volume_consumed_total_bitcoin", "ethereum": "sentiment_volume_consumed_total_ethereum", "tether": "sentiment_volume_consumed_total_tether", "ripple": "sentiment_volume_consumed_total_ripple", "solana": "sentiment_volume_consumed_total_solana", "luna": "sentiment_volume_consumed_total_luna", "cardano": "sentiment_volume_consumed_total_cardano", "avalanche": "sentiment_volume_consumed_total_avalanche", "stellar": "sentiment_volume_consumed_total_stellar", "monero": "sentiment_volume_consumed_total_monero"})

In [135]:
santiment_volcon1 = pd.merge(volcon_reddit, volcon_twitter, on='datetime')

In [136]:
santiment_volcon2 = pd.merge(santiment_volcon1, volcon_telegram, on='datetime')

In [137]:
santiment_volcon3 = pd.merge(santiment_volcon2, volcon_bitcointalk, on='datetime')

In [138]:
santiment_volcon4 = pd.merge(santiment_volcon3, volcon_youtube, on='datetime')

In [139]:
santiment_volcon5 = pd.merge(santiment_volcon4, volcon_total, on='datetime')

In [166]:
santiment_volcon5 = santiment_volcon5.drop(axis=1, columns={'a'})

In [168]:
santiment_volcon5.isnull().any()

datetime                                     False
sentiment_volume_consumed_reddit_bitcoin     False
sentiment_volume_consumed_reddit_ethereum    False
sentiment_volume_consumed_reddit_tether      False
sentiment_volume_consumed_reddit_ripple      False
                                             ...
sentiment_volume_consumed_total_luna         False
sentiment_volume_consumed_total_cardano      False
sentiment_volume_consumed_total_avalanche    False
sentiment_volume_consumed_total_stellar      False
sentiment_volume_consumed_total_monero       False
Length: 61, dtype: bool

In [180]:
san_merge_6 = pd.merge(san_merge_5, santiment_volcon5, on='datetime')

##### Dev Activity

In [140]:
dev_ac_change_30 = pd.read_csv('data/santiment/dev/santiment_dev_activity_change_30d.csv')

In [141]:
dev_ac_change_30

,datetime,bitcoin,ethereum,tether,ripple,solana,cardano,avalanche,stellar,monero
0,2021-07-27 00:00:00+00:00,1.833333,24.421053,0.0,0.000000,4.534884,16.875000,2.555556,105.000000,1.565217
1,2021-07-28 00:00:00+00:00,0.623656,0.187179,0.0,0.727273,-0.449438,0.141694,0.100000,-0.525210,-0.166667
2,2021-07-29 00:00:00+00:00,2.490196,-0.105413,0.0,2.500000,0.421456,0.287004,-0.329545,0.029586,-0.800000
3,2021-07-30 00:00:00+00:00,0.435294,-0.209302,0.0,1.372881,-0.076923,-0.111614,0.869565,-0.412556,-0.187500
4,2021-07-31 00:00:00+00:00,-0.639175,-0.895210,0.0,-0.861111,-0.767908,-0.755459,6.000000,-0.942623,0.000000
...,...,...,...,...,...,...,...,...,...,...
360,2022-07-22 00:00:00+00:00,-0.578571,0.049536,0.0,-1.000000,-0.532609,0.115315,0.830189,1.191781,9.500000
361,2022-07-23 00:00:00+00:00,-0.720000,-0.636364,0.0,-1.000000,-0.507772,-0.875546,-0.528302,-0.556034,0.000000
362,2022-07-24 00:00:00+00:00,-0.482759,-0.610860,0.0,-1.000000,-0.713450,-0.898955,-0.926316,-0.990164,0.750000
363,2022-07-25 00:00:00+00:00,5.913043,5.940476,0.0,9.666667,1.974026,6.144737,2.484848,8.268293,0.000000
364,2022-07-26 00:00:00+00:00,1.526316,6.571429,0.0,0.000000,3.960000,10.650000,13.230769,170.500000,0.571429

In [142]:
dev_ac_change_30 = dev_ac_change_30.rename(columns={"bitcoin": "dev_activity_change_30d_bitcoin", "ethereum": "dev_activity_change_30d_ethereum", "tether": "dev_activity_change_30d_tether", "ripple": "dev_activity_change_30d_ripple", "solana": "dev_activity_change_30d_solana", "luna": "dev_activity_change_30d_luna", "cardano": "dev_activity_change_30d_cardano", "avalanche": "dev_activity_change_30d_avalanche", "stellar": "dev_activity_change_30d_stellar", "monero": "dev_activity_change_30d_monero"})

In [143]:
dev_ac_change_30

,datetime,dev_activity_change_30d_bitcoin,dev_activity_change_30d_ethereum,dev_activity_change_30d_tether,dev_activity_change_30d_ripple,dev_activity_change_30d_solana,dev_activity_change_30d_cardano,dev_activity_change_30d_avalanche,dev_activity_change_30d_stellar,dev_activity_change_30d_monero
0,2021-07-27 00:00:00+00:00,1.833333,24.421053,0.0,0.000000,4.534884,16.875000,2.555556,105.000000,1.565217
1,2021-07-28 00:00:00+00:00,0.623656,0.187179,0.0,0.727273,-0.449438,0.141694,0.100000,-0.525210,-0.166667
2,2021-07-29 00:00:00+00:00,2.490196,-0.105413,0.0,2.500000,0.421456,0.287004,-0.329545,0.029586,-0.800000
3,2021-07-30 00:00:00+00:00,0.435294,-0.209302,0.0,1.372881,-0.076923,-0.111614,0.869565,-0.412556,-0.187500
4,2021-07-31 00:00:00+00:00,-0.639175,-0.895210,0.0,-0.861111,-0.767908,-0.755459,6.000000,-0.942623,0.000000
...,...,...,...,...,...,...,...,...,...,...
360,2022-07-22 00:00:00+00:00,-0.578571,0.049536,0.0,-1.000000,-0.532609,0.115315,0.830189,1.191781,9.500000
361,2022-07-23 00:00:00+00:00,-0.720000,-0.636364,0.0,-1.000000,-0.507772,-0.875546,-0.528302,-0.556034,0.000000
362,2022-07-24 00:00:00+00:00,-0.482759,-0.610860,0.0,-1.000000,-0.713450,-0.898955,-0.926316,-0.990164,0.750000
363,2022-07-25 00:00:00+00:00,5.913043,5.940476,0.0,9.666667,1.974026,6.144737,2.484848,8.268293,0.000000
364,2022-07-26 00:00:00+00:00,1.526316,6.571429,0.0,0.000000,3.960000,10.650000,13.230769,170.500000,0.571429

In [144]:
dev_ac_contri = pd.read_csv('data/santiment/dev/santiment_dev_activity_contributors_count.csv')

In [145]:
dev_ac_contri = dev_ac_contri.rename(columns={"bitcoin": "dev_activity_contribution_count_bitcoin", "ethereum": "dev_activity_contribution_count_ethereum", "tether": "dev_activity_contribution_count_tether", "ripple": "dev_activity_contribution_count_ripple", "solana": "dev_activity_contribution_count_solana", "luna": "dev_activity_contribution_count_luna", "cardano": "dev_activity_contribution_count_cardano", "avalanche": "dev_activity_contribution_count_avalanche", "stellar": "dev_activity_contribution_count_stellar", "monero": "dev_activity_contribution_count_monero"})

In [146]:
dev_activity = pd.read_csv('data/santiment/dev/santiment_dev_activity.csv')

In [147]:
dev_activity = dev_activity.rename(columns={"bitcoin": "dev_activity_bitcoin", "ethereum": "dev_activity_ethereum", "tether": "dev_activity_tether", "ripple": "dev_activity_ripple", "solana": "dev_activity_solana", "luna": "dev_activity_luna", "cardano": "dev_activity_cardano", "avalanche": "dev_activity_avalanche", "stellar": "dev_activity_stellar", "monero": "dev_activity_monero"})

In [148]:
git_contri = pd.read_csv('data/santiment/dev/santiment_github_activity_contributors_count.csv')

In [149]:
git_contri = git_contri.rename(columns={"bitcoin": "github_activity_contributors_count_bitcoin", "ethereum": "github_activity_contributors_count_ethereum", "tether": "github_activity_contributors_count_tether", "ripple": "github_activity_contributors_count_ripple", "solana": "github_activity_contributors_count_solana", "luna": "github_activity_contributors_count_luna", "cardano": "github_activity_contributors_count_cardano", "avalanche": "github_activity_contributors_count_avalanche", "stellar": "github_activity_contributors_count_stellar", "monero": "github_activity_contributors_count_monero"})

In [150]:
git_activity = pd.read_csv('data/santiment/dev/sentiment_github_activity.csv')

In [151]:
git_activity = git_activity.rename(columns={"bitcoin": "git_activity_bitcoin", "ethereum": "git_activity_ethereum", "tether": "git_activity_tether", "ripple": "git_activity_ripple", "solana": "git_activity_solana", "luna": "git_activity_luna", "cardano": "git_activity_cardano", "avalanche": "git_activity_avalanche", "stellar": "git_activity_stellar", "monero": "git_activity_monero"})

In [152]:
dev1 = pd.merge(dev_ac_contri, dev_activity, on='datetime')

In [153]:
dev2 = pd.merge(dev1, git_contri, on='datetime')

In [154]:
dev3 = pd.merge(dev2, git_activity, on='datetime')

In [169]:
dev3.isnull().any()

datetime                                        False
dev_activity_contribution_count_bitcoin         False
dev_activity_contribution_count_ethereum        False
dev_activity_contribution_count_tether           True
dev_activity_contribution_count_ripple          False
dev_activity_contribution_count_solana          False
dev_activity_contribution_count_cardano         False
dev_activity_contribution_count_avalanche       False
dev_activity_contribution_count_stellar         False
dev_activity_contribution_count_monero          False
dev_activity_bitcoin                            False
dev_activity_ethereum                           False
dev_activity_tether                              True
dev_activity_ripple                             False
dev_activity_solana                             False
dev_activity_cardano                            False
dev_activity_avalanche                          False
dev_activity_stellar                            False
dev_activity_monero                             False
github_activity_contributors_count_bitcoin      False
github_activity_contributors_count_ethereum     False
github_activity_contributors_count_tether        True
github_activity_contributors_count_ripple       False
github_activity_contributors_count_solana       False
github_activity_contributors_count_cardano      False
github_activity_contributors_count_avalanche    False
github_activity_contributors_count_stellar      False
github_activity_contributors_count_monero       False
git_activity_bitcoin                            False
git_activity_ethereum                           False
git_activity_tether                              True
git_activity_ripple                             False
git_activity_solana                             False
git_activity_cardano                            False
git_activity_avalanche                          False
git_activity_stellar                            False
git_activity_monero                             False
dtype: bool

In [171]:
dev3 = dev3.dropna(axis=0, inplace=False)

In [172]:
dev3.isnull().any()

datetime                                        False
dev_activity_contribution_count_bitcoin         False
dev_activity_contribution_count_ethereum        False
dev_activity_contribution_count_tether          False
dev_activity_contribution_count_ripple          False
dev_activity_contribution_count_solana          False
dev_activity_contribution_count_cardano         False
dev_activity_contribution_count_avalanche       False
dev_activity_contribution_count_stellar         False
dev_activity_contribution_count_monero          False
dev_activity_bitcoin                            False
dev_activity_ethereum                           False
dev_activity_tether                             False
dev_activity_ripple                             False
dev_activity_solana                             False
dev_activity_cardano                            False
dev_activity_avalanche                          False
dev_activity_stellar                            False
dev_activity_monero                             False
github_activity_contributors_count_bitcoin      False
github_activity_contributors_count_ethereum     False
github_activity_contributors_count_tether       False
github_activity_contributors_count_ripple       False
github_activity_contributors_count_solana       False
github_activity_contributors_count_cardano      False
github_activity_contributors_count_avalanche    False
github_activity_contributors_count_stellar      False
github_activity_contributors_count_monero       False
git_activity_bitcoin                            False
git_activity_ethereum                           False
git_activity_tether                             False
git_activity_ripple                             False
git_activity_solana                             False
git_activity_cardano                            False
git_activity_avalanche                          False
git_activity_stellar                            False
git_activity_monero                             False
dtype: bool

In [181]:
san_merge_7 = pd.merge(san_merge_6, dev3, on='datetime')

##### other

In [155]:
circulation_1d = pd.read_csv('data/santiment/dev/santiment_circulation_1d.csv')

In [156]:
circulation_1d = circulation_1d.rename(columns={"bitcoin": "circulation_1d_bitcoin", "ethereum": "circulation_1d_ethereum", "tether": "circulation_1d_tether", "ripple": "circulation_1d_ripple", "solana": "circulation_1d_solana", "luna": "circulation_1d_luna", "cardano": "circulation_1d_cardano", "avalanche": "circulation_1d_avalanche", "stellar": "gcirculation_1d_stellar", "monero": "circulation_1d_monero"})

In [173]:
circulation_1d.isnull().any()

datetime                   False
circulation_1d_bitcoin     False
circulation_1d_ethereum    False
circulation_1d_tether      False
circulation_1d_ripple      False
circulation_1d_cardano     False
dtype: bool

In [182]:
san_merge_8 = pd.merge(san_merge_7, circulation_1d, on='datetime')

In [183]:
san_final = san_merge_8

In [184]:
san_final

,datetime,bitcoin_volumes,ethereum_volumes,tether_volumes,ripple_volumes,solana_volumes,cardano_volumes,avalanche_volumes,stellar_volumes,monero_volumes,...,git_activity_solana,git_activity_cardano,git_activity_avalanche,git_activity_stellar,git_activity_monero,circulation_1d_bitcoin,circulation_1d_ethereum,circulation_1d_tether,circulation_1d_ripple,circulation_1d_cardano
0,2021-07-28 00:00:00+00:00,3.870240e+10,1.899130e+10,6.421117e+10,6.452961e+09,3.156826e+08,1.793329e+09,68268675.0,693920024.0,212216608.0,...,276.0,836.0,74.0,140.0,40.0,233366.540320,9.395430e+05,1.790458e+09,4.552209e+08,8.984839e+08
1,2021-07-29 00:00:00+00:00,2.716715e+10,1.631337e+10,4.991068e+10,3.717955e+09,4.480096e+08,1.466955e+09,66712426.0,449501855.0,189494044.0,...,489.0,856.0,75.0,240.0,40.0,272288.800730,1.082935e+06,1.845509e+09,2.547360e+08,4.513222e+08
2,2021-07-30 00:00:00+00:00,3.307278e+10,2.021285e+10,5.852503e+10,3.328524e+09,6.178302e+08,1.556740e+09,71146688.0,544526611.0,203635494.0,...,334.0,696.0,49.0,182.0,23.0,140693.679583,1.022270e+06,1.712227e+09,3.906714e+08,7.397231e+08
3,2021-07-31 00:00:00+00:00,2.580285e+10,1.800171e+10,5.139467e+10,2.612372e+09,5.871682e+08,1.312377e+09,67970748.0,542423429.0,208721836.0,...,137.0,162.0,35.0,36.0,36.0,69683.508980,1.001426e+06,1.341413e+09,1.586135e+08,3.646393e+08
4,2021-08-01 00:00:00+00:00,2.668844e+10,2.269799e+10,5.609537e+10,2.529023e+09,4.906399e+08,1.863009e+09,90946247.0,629418983.0,196766251.0,...,46.0,137.0,7.0,13.0,23.0,80602.011178,6.666681e+05,1.240329e+09,1.323565e+09,3.901627e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,2022-06-21 00:00:00+00:00,2.897021e+10,1.563209e+10,5.016586e+10,1.247582e+09,1.790090e+09,1.018828e+09,496486132.0,181843171.0,96177268.0,...,415.0,636.0,88.0,169.0,17.0,234767.266773,9.548745e+05,1.532409e+09,4.929632e+08,7.325194e+08
329,2022-06-22 00:00:00+00:00,2.857479e+10,1.501059e+10,4.613003e+10,1.064145e+09,1.533123e+09,8.189774e+08,417581511.0,167247661.0,70776491.0,...,534.0,637.0,63.0,208.0,19.0,238833.596679,1.017342e+06,1.785544e+09,3.908619e+08,6.471346e+08
330,2022-06-23 00:00:00+00:00,2.618810e+10,1.465786e+10,4.319854e+10,9.273246e+08,1.666479e+09,7.115548e+08,482575281.0,161075206.0,65743632.0,...,323.0,563.0,69.0,261.0,29.0,187976.537412,1.238218e+06,1.234796e+09,4.807504e+08,5.949355e+08
331,2022-06-26 00:00:00+00:00,1.802717e+10,1.209661e+10,3.722868e+10,7.895143e+08,1.138725e+09,8.425289e+08,413767908.0,131745823.0,73740343.0,...,66.0,90.0,16.0,2.0,19.0,98861.383687,4.393776e+05,4.993998e+08,1.754350e+08,3.721631e+08
332,2022-06-27 00:00:00+00:00,2.096570e+10,1.249223e+10,3.929695e+10,9.895719e+08,1.253390e+09,7.099926e+08,433026594.0,144574714.0,82580078.0,...,394.0,475.0,104.0,190.0,37.0,207523.732736,9.433080e+05,1.331249e+09,7.104985e+08,4.375237e+08

In [188]:
san_final.isna().any()

datetime                   False
bitcoin_volumes            False
ethereum_volumes           False
tether_volumes             False
ripple_volumes             False
                           ...
circulation_1d_bitcoin     False
circulation_1d_ethereum    False
circulation_1d_tether      False
circulation_1d_ripple      False
circulation_1d_cardano     False
Length: 419, dtype: bool

In [189]:
san_final.to_csv('./clean/santiment_final_data' + '.csv')

## Decomposition

Create dataset for every coin on its own

In [2]:
data = pd.read_csv('clean/santiment_final_data.csv')

In [5]:
data['datetime'] = pd.to_datetime(data['datetime'])

data['date'] = data['datetime'].dt.date

data = data.set_index('date')

data = data.drop(columns=["Unnamed: 0", "datetime"])

In [6]:
data

,bitcoin_volumes,ethereum_volumes,tether_volumes,ripple_volumes,solana_volumes,cardano_volumes,avalanche_volumes,stellar_volumes,monero_volumes,bitcoin_prices,...,git_activity_solana,git_activity_cardano,git_activity_avalanche,git_activity_stellar,git_activity_monero,circulation_1d_bitcoin,circulation_1d_ethereum,circulation_1d_tether,circulation_1d_ripple,circulation_1d_cardano
date,,,,,,,,,,,,,,,,,,,,,
2021-07-28,3.870240e+10,1.899130e+10,6.421117e+10,6.452961e+09,3.156826e+08,1.793329e+09,68268675.0,693920024.0,212216608.0,39995.906469,...,276.0,836.0,74.0,140.0,40.0,233366.540320,9.395430e+05,1.790458e+09,4.552209e+08,8.984839e+08
2021-07-29,2.716715e+10,1.631337e+10,4.991068e+10,3.717955e+09,4.480096e+08,1.466955e+09,66712426.0,449501855.0,189494044.0,40008.420847,...,489.0,856.0,75.0,240.0,40.0,272288.800730,1.082935e+06,1.845509e+09,2.547360e+08,4.513222e+08
2021-07-30,3.307278e+10,2.021285e+10,5.852503e+10,3.328524e+09,6.178302e+08,1.556740e+09,71146688.0,544526611.0,203635494.0,42235.547709,...,334.0,696.0,49.0,182.0,23.0,140693.679583,1.022270e+06,1.712227e+09,3.906714e+08,7.397231e+08
2021-07-31,2.580285e+10,1.800171e+10,5.139467e+10,2.612372e+09,5.871682e+08,1.312377e+09,67970748.0,542423429.0,208721836.0,41626.195676,...,137.0,162.0,35.0,36.0,36.0,69683.508980,1.001426e+06,1.341413e+09,1.586135e+08,3.646393e+08
2021-08-01,2.668844e+10,2.269799e+10,5.609537e+10,2.529023e+09,4.906399e+08,1.863009e+09,90946247.0,629418983.0,196766251.0,39974.896026,...,46.0,137.0,7.0,13.0,23.0,80602.011178,6.666681e+05,1.240329e+09,1.323565e+09,3.901627e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-06-21,2.897021e+10,1.563209e+10,5.016586e+10,1.247582e+09,1.790090e+09,1.018828e+09,496486132.0,181843171.0,96177268.0,20710.597102,...,415.0,636.0,88.0,169.0,17.0,234767.266773,9.548745e+05,1.532409e+09,4.929632e+08,7.325194e+08
2022-06-22,2.857479e+10,1.501059e+10,4.613003e+10,1.064145e+09,1.533123e+09,8.189774e+08,417581511.0,167247661.0,70776491.0,19987.029049,...,534.0,637.0,63.0,208.0,19.0,238833.596679,1.017342e+06,1.785544e+09,3.908619e+08,6.471346e+08
2022-06-23,2.618810e+10,1.465786e+10,4.319854e+10,9.273246e+08,1.666479e+09,7.115548e+08,482575281.0,161075206.0,65743632.0,21085.877161,...,323.0,563.0,69.0,261.0,29.0,187976.537412,1.238218e+06,1.234796e+09,4.807504e+08,5.949355e+08
2022-06-26,1.802717e+10,1.209661e+10,3.722868e+10,7.895143e+08,1.138725e+09,8.425289e+08,413767908.0,131745823.0,73740343.0,21027.295309,...,66.0,90.0,16.0,2.0,19.0,98861.383687,4.393776e+05,4.993998e+08,1.754350e+08,3.721631e+08
2022-06-27,2.096570e+10,1.249223e+10,3.929695e+10,9.895719e+08,1.253390e+09,7.099926e+08,433026594.0,144574714.0,82580078.0,20735.477947,...,394.0,475.0,104.0,190.0,37.0,207523.732736,9.433080e+05,1.331249e+09,7.104985e+08,4.375237e+08

In [ ]:
bitcoin = pd.DataFrame(columns=["a"])
ethereum = pd.DataFrame(columns=["a"])
tether = pd.DataFrame(columns=["a"])
ripple = pd.DataFrame(columns=["a"])
solana = pd.DataFrame(columns=["a"])
luna = pd.DataFrame(columns=["a"])
cardano = pd.DataFrame(columns=["a"])
avalanche = pd.DataFrame(columns=["a"])
stellar = pd.DataFrame(columns=["a"])
monero = pd.DataFrame(columns=["a"])

In [ ]:
name = "bitcoin"

for i in data:
    if name in i:
        bitcoin[i] = data[i]

In [ ]:
name = "bitcointalk"

for i in bitcoin:
    if name in i:
        bitcoin = bitcoin.drop(columns=i)

In [ ]:
bitcoin = bitcoin.drop(columns="a")

In [ ]:
name = "ethereum"

for i in data:
    if name in i:
        ethereum[i] = data[i]

In [ ]:
name = "bitcointalk"

for i in ethereum:
    if name in i:
        ethereum = ethereum.drop(columns=i)

In [ ]:
ethereum = ethereum.drop(columns="a")

In [ ]:
name = "tether"

for i in data:
    if name in i:
        tether[i] = data[i]

name = "bitcointalk"

for i in tether:
    if name in i:
        tether = tether.drop(columns=i)

tether = tether.drop(columns="a")

In [ ]:
name = "ripple"

for i in data:
    if name in i:
        ripple[i] = data[i]

name = "bitcointalk"

for i in ripple:
    if name in i:
        ripple = ripple.drop(columns=i)

ripple = ripple.drop(columns="a")

In [ ]:
name = "solana"

for i in data:
    if name in i:
        solana[i] = data[i]

name = "bitcointalk"

for i in solana:
    if name in i:
        solana = solana.drop(columns=i)
        
solana = solana.drop(columns="a")

In [ ]:
name = "luna"

for i in data:
    if name in i:
        luna[i] = data[i]

name = "bitcointalk"

for i in luna:
    if name in i:
        luna = luna.drop(columns=i)

luna = luna.drop(columns="a")

In [ ]:
name = "cardano"

for i in data:
    if name in i:
        cardano[i] = data[i]

name = "bitcointalk"

for i in cardano:
    if name in i:
        cardano = cardano.drop(columns=i)

cardano = cardano.drop(columns="a")

In [ ]:
name = "avalanche"

for i in data:
    if name in i:
        avalanche[i] = data[i]

name = "bitcointalk"

for i in avalanche:
    if name in i:
        avalanche = avalanche.drop(columns=i)

avalanche = avalanche.drop(columns="a")

In [ ]:
name = "stellar"

for i in data:
    if name in i:
        stellar[i] = data[i]

name = "bitcointalk"

for i in stellar:
    if name in i:
        stelalr = stellar.drop(columns=i)

stellar = stellar.drop(columns="a")

In [ ]:
name = "monero"

for i in data:
    if name in i:
        monero[i] = data[i]

name = "bitcointalk"

for i in tether:
    if name in i:
        monero = monero.drop(columns=i)

monero = monero.drop(columns="a")

In [ ]:
bitcoin.to_csv('clean/coins/bitcoin_quant.csv')
ethereum.to_csv('clean/coins/ethereum_quant.csv')
tether.to_csv('clean/coins/tether_quant.csv')
ripple.to_csv('clean/coins/ripple_quant.csv')
solana.to_csv('clean/coins/solana_quant.csv')
luna.to_csv('clean/coins/luna_quant.csv')
cardano.to_csv('clean/coins/cardano_quant.csv')
avalanche.to_csv('clean/coins/avalanche_quant.csv')
stellar.to_csv('clean/coins/stellar_quant.csv')
monero.to_csv('clean/coins/monero_quant.csv')

## Cut data to same variables

Like some do not have circulation_1d

In [ ]:
def datainfo(name):
    name = pd.read_csv('clean/coins/' + name + '_quant.csv')
    return list(name.columns), name.shape

In [ ]:
def deletecolumn(name, delete):

    data = pd.read_csv('clean/coins/' + name + '_quant.csv')
    for i in data:
        if delete in i:
            data = data.drop(columns = i)
    data.to_csv('clean/coins/new/' + name +'_quant.csv', index=False)
    return data.shape

In [ ]:
deletecolumn('bitcoin', 'circulation_1d_bitcoin')

In [ ]:
list(pd.read_csv('clean/coins/new/bitcoin_quant.csv').shape)